.root {
  overflow: hidden;
  width: 100%;
}
.list {
  display: flex;
  overflow: hidden;
  width: 100%;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
}
.item {
  font-weight: 400;
  margin: 1rem;
  margin-left: 0;
}
.item:first-of-type {
  margin-left: 1rem;
}
