.root {
  overflow: hidden;
  width: 100%;
}
.list {
  display: flex;
  height: 2.4rem;
  line-height: 2.3rem;
  overflow: hidden;
  width: 100%;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
}
.item {
  font-weight: 500;
}
.item:not(:first-child) {
  margin-left: 1rem;
}
